@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1800px;
    font-family: 'roboto', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #ffc1f5 0%);
}
.logo > img {
    height: 200px;
    width: 200px;
    box-shadow: none;

}
.logo > h1{
    font-size: 25px;
    text-decoration: double;
    margin-left: 10px;
}
.menu .option a {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
 
    text-decoration: none;
    color: #000000;
}

.menu .option a:hover {
    color: #e100ff;
    
}
.option{
    margin-bottom: 30px;

}
.option > a{
    margin: 20px 20px 20px 20px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
   
}

.contenedor >img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
   
}
.icon-cart{
    width: 40px;
    height: 40px;
}
.contenedor>img{
    /* max-width: 100%;  */
    /* padding: 8px;  */
    /* border: 2px solid #f574ca; */
    /* height: auto;  */
    width: 200px; 
    height: auto;
    margin: 5px; 
    border: 3px solid transparent; 
    transition: border 0.5s ease;
    border-color: #ed6693;
   
}

.contenido-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
       
    
}
.contenedor{
   
    text-align: center;
    margin: 20px;
    
}
.Contenedor > img{
    width:50px;
    height: 50px;  
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.contenedor>img:hover{
    box-shadow: 0px 0px 15px rgba(249, 3, 175, 0.5);
}

.contenedor>button{
    color: #ffffff;
    background-color: #ed6693;
    border-radius: 3px;
    border-color: #ed6693;
   
}


.contenedor img {
    max-width: 100%;
    height: auto;
    cursor: pointer; 
}

.lightbox-caption {
    color: #333;
    font-size: 16px; 
    line-height: 1.5;
    margin-top: 10px; 
    
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    color: #fc5fdc;
}


.lightbox {
    display: none; 
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center; 
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd90dc;
    padding: 100px; 
    display: flex;
    align-items: center; 
}

.lightbox-img {
    max-width: 50%; 
    
}

.lightbox-text {
    flex-grow: 1; 
    padding-left: 20px; 
}

.lightbox-caption {
    color: #000000;
    font-size: 16px; 
    line-height: 1.5;
    margin: 0; 
    
}
.lightbox-img {
    max-width: 200px; 
    max-height: 200px;
    float: left; 
    margin-right: 20px;
}
.lightbox-text>button{
    background-color: #d42a87;
    color: #ffffff;
    border-color: #d42a87 ;
}
#formulario>button{
    background-color: #d42a87;
    color: #ffffff;
    border-color: #d42a87 ;
}



footer {
    background:  #ffc1f5;
    padding: 20px 0;
    padding-top: 30px;
   
    margin: auto;
}

.partFooter {
    width: 22%;
    text-align: center;
 
}

.partFooter h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    background-color: #cd0090;
    padding: 5px;
    border: 1px solid #cd0090;
    border-radius: 5px;
    margin: 15px;
}

.contact {
    margin: 10px;
    display: flex;
    display: inline-block;
    
}

.contact > p {
    color: #000000;
    display: inline-block;

}

.contact>img{
    width: 30px;
    height: 30px;
    display: inline;
}
