@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1800px;
    font-family: 'roboto', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,193,245,1) 0%);
}
.logo > img {
    height: 200px;
    width: 200px;
    box-shadow: none;

}
.logo > h1{
    font-size: 25px;
    text-decoration: double;
}
.option{
    margin-bottom: 30px;

}
.option > a{
    margin: 20px 20px 20px 20px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
   
  
}
.option > a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 183);
    
}
.contenedor >img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
   
}
.icon-cart{
    width: 40px;
    height: 40px;
}
.contenedor>img{
    /* max-width: 100%;  */
    /* padding: 8px;  */
    /* border: 2px solid #f574ca; */
    /* height: auto;  */
    width: 200px; 
    height: auto;
    margin: 5px; 
    border: 3px solid transparent; 
    transition: border 0.5s ease;
    border-color: #ed6693;
}

.contenido-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.contenedor{
   
    text-align: center;
    margin: 20px;
}
.Contenedor > img{
    width:50px;
    height: 50px;  
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.contenedor>img:hover{
    box-shadow: 0px 0px 15px rgba(249, 3, 175, 0.5);
}

.contenedor>button{
    color: #ffffff;
    background-color: #ed6693;
    border-radius: 3px;
    border-color: #ed6693;
   
}



/* Estilos para la imagen en miniatura */
.contenedor img {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* Cambiar cursor a mano al pasar sobre la imagen */
}




.lightbox-caption {
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea */
    margin-top: 10px; /* Espacio superior */
    
}

/* Estilos para el botón de cierre */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fc5fdc;
}



/* Estilos para el lightbox */
.lightbox {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center; /* Centrar el contenido */
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar vertical y horizontalmente */
    background-color: #fd90dc; /* Fondo blanco */
    padding: 100px; /* Espacio interno */
    display: flex; /* Alinear elementos en un flexbox */
    align-items: center; /* Alinear verticalmente */
}

.lightbox-img {
    max-width: 50%; /* Ancho de la imagen */
    
}

.lightbox-text {
    flex-grow: 1; /* El texto ocupa todo el espacio disponible */
    padding-left: 20px; /* Espacio entre la imagen y el texto */
}

.lightbox-caption {
    color: #000000; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea */
    margin: 0; /* Eliminar márgenes */
    
}
.lightbox-img {
    max-width: 200px; /* Ajusta el ancho máximo de la imagen según sea necesario */
    max-height: 200px; /* Ajusta la altura máxima de la imagen según sea necesario */
    float: left; /* Alinea la imagen a la izquierda */
    margin-right: 20px;
}
.lightbox-text>button{
    background-color: #d42a87;
    color: #ffffff;
    border-color: #d42a87 ;
}
#formulario>button{
    background-color: #d42a87;
    color: #ffffff;
    border-color: #d42a87 ;
}